@model IEnumerable<TravelApp.Models.Trip>
           
 <p>Getting started.</p>

            @*<form>
                <div>
                    <label>Date</label>
                    <input />
                </div>
                <div>
                    <label>Location</label>
                    <input />
                </div>
                <div><input type="submit" value="Add" /></div>
            </form>*@
<br />
<h2>Trips:</h2>
<div>
    @{ 
        foreach(var trip in Model)
        {
            <div>
                @trip.Name
                <ul>
                    @foreach (var stop in trip.Stops)
                    {
                        <li>@stop.Name</li>
                    }
                </ul>
            </div>

        }
    }
</div>