<h3>Welcome to Travel App</h3>
<br /><br />
<div>You are currently logged in as Uni J. Corn. If you're not a unicorn, log in or register.</div>

<br /><br />
<button onclick="location.href='@Url.Action("AllTrips")';return false;" class="btn btn-success">View all trips</button>